
@font-face {
    font-family: 'Pontiac';
    src: url("../assets/PONTIAC_BLACK.OTF");
}

// TODO: don't load from url
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

$family-sans-serif: "Open Sans", sans-serif;
$title-font: "Pontiac";

$black: #000;
$grey-dark: $black;
$red: #ED1C24;
$white: #fff;
$link: $red;

$text: $black;
$background: blue;


@import "~bulma/bulma.sass";

.is-supreme{
    background: $red;
    color: $white!important;
}

.wtg-title{
    @extend .title;
    font-family: $title-font;
}

.is-flex-centered{
    justify-content: center !important;
}

.has-border-wtg{
    border: 1px solid #eee;
    box-shadow: 0 3px 20px 0 #ddd;
  
}

@media (max-width: 1279px){
    .is-superlarge-title{
        font-size: 8.5rem;
        margin-bottom: 75px!important;
    }
}

@media (min-width: 1280px){
    .is-superlarge-title{
        font-size: 10rem;
        margin-bottom: 75px!important;
    }
}

@media (max-width: 799px){
    .is-superlarge-title{
        font-size: 7rem;
        margin-bottom: 75px!important;
    }
}

@media (max-width: 575px){
    .is-superlarge-title{
        font-size: 4rem;
        margin-bottom: 50px!important;
    }
}