
@font-face {
    font-family: 'Pontiac';
    src: url("../assets/PONTIAC_BLACK.OTF");
}

// TODO: don't load from url
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

$family-sans-serif: "Open Sans", sans-serif;
$title-font: "Pontiac";

$black: #000;
$grey-dark: $black;
$red: #ED1C24;
$white: #fff;
$link: $red;

$text: $black;
$background: blue;

$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);

@import "~bulma/bulma.sass";


.wtg-title{
    @extend .title;
    color: $black;
    font-family: $title-font;
}

@media (max-width: 1279px){
    .is-superlarge-title{
        font-size: 8.5rem;
        margin-bottom: 75px!important;
    }
}

@media (min-width: 1280px){
    .is-superlarge-title{
        font-size: 10rem;
        margin-bottom: 75px!important;
    }
}

@media (max-width: 799px){
    .is-superlarge-title{
        font-size: 7rem;
        margin-bottom: 75px!important;
    }
}

@media (max-width: 575px){
    .is-superlarge-title{
        font-size: 4.5rem;
        margin-bottom: 50px!important;
    }
}