.jumbotron {
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-bottom: 0;
    background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
  font-size: 55px;
}

.jumbotron .container {
  max-width: 40rem;
}

.header {
    background-color: #fff;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    /*display: none;*/
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
}

.header.show {
    opacity: 1;
    visibility: inherit;
    transition: opacity 0.2s, visibility 0.2s;
}

.section-title {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
/*
@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}*/

.projects {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.project {
    margin-bottom: 2rem;
}

.project .name {
    font-weight: 400;
}

.project .description {
    padding-top: 0;
    font-size: 19px;
    font-weight: 200;
}

.project .commit-message {
    margin-bottom: 10px;
    font-size: 15px;
}

.project .user-info {
    width: 100%;
    font-size: 13px;
}

.project .user-avatar {
    border-radius: 50%;
    width: 26px;
}

.contributors h3 {
    font-weight: 300;
}

.contributors .user-avatar {
    border-radius: 50%;
    width: 80px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
  line-height: 30px;
}

footer .wtg-logo {
    height: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}
